<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css?v={{ rand }}">
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx-ext-sse@2.2.4/dist/sse.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap" rel="stylesheet">
    <link rel="icon" href="https://res.cloudinary.com/dzpt57igj/image/upload/v1779638477/favicon_giqirb.ico">
</head>
<body data-bets-endpoint="{{ basePath }}/bets">
    {# HTMX SSE Handler #}
    <div
        hx-ext="sse"
        sse-connect="{{basePath}}/bets/events"
        sse-swap="new-bet"
        hx-swap="innerHTML"
        id="sse-events"
    ></div>

    {% include "partials/header.njk" %}

    <div class="container">
        <div id="filters" class="filter">
            {% include "partials/_filters.njk" %}
        </div>

        <div class="bets">
            <table class="bets__table">
                <thead class="bets__header">
                    <tr>
                        <th class="bets__header-cell">Game</th>
                        <th class="bets__header-cell">Stake</th>
                        <th class="bets__header-cell">Payout</th>
                        <th class="bets__header-cell">Result</th>
                        <th class="bets__header-cell">Time</th>
                    </tr>
                </thead>
                <tbody class="bets__body" id="betsBody">
                    {% include "partials/_rows.njk" %}
                </tbody>
            </table>
        </div>

        <div id="pagination" class="pagination">
            {% include "partials/_pagination.njk" %}
        </div>
    </div>
    <script src="/js/app.js?v={{ rand }}"></script>
</body>
</html>
