{% include "partials/_rows.njk" %}

<div id="pagination" class="pagination" hx-swap-oob="true">
  {% include "partials/_pagination.njk" %}
</div>

<div id="filters" class="filter" hx-swap-oob="true">
  {% include "partials/_filters.njk" %}
</div>
